.nav-bar{
  display: flex;
  background-color: rgb(224, 111, 105);
  color: rgb(217, 244, 235);
  font-size: 12px;
  align-items: center;
  justify-content: center;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

.globe--icon {
  width: 40px;
  padding-right: 5px;
}
.artcl--container{
  display: flex;
  padding:30px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  height:250px;
  
}


.artcl--img{
  width:auto;
  margin-right: 20px;
  border-radius: 10px;
}
.loc--container{
  display: flex;
  padding-top: 30px;
  
}
.loc--icon{
  width:10px;
  margin-right: 5px;
}

.maps--link{
  color:rgba(0, 0, 0, 0.45);
  padding-left: 50px;

}
.title{
  margin-top: 3px;
  font-family:'Lucida Sans', 'Arial Narrow', Arial, sans-serif;
}
.date{
  font-size: 15px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 40px;
}
.text{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}